# Restful Booker
BOOKER_BASE_URL=https://restful-booker.herokuapp.com
BOOKER_USERNAME=admin
BOOKER_PASSWORD=password123

# Fake REST API
FAKE_API_BASE_URL=https://fakerestapi.azurewebsites.net

# Shared
API_TIMEOUT=15000
LOG_LEVEL=info
